#die {
  height: 115px;
  width: 115px;
  top: 50px; /* Adjust as needed */
  left: 50px; /* Adjust as needed */
  background-color: lightgray; /* Feel free to customize */
  position: absolute;
}
#die2 {
  height: 115px;
  width: 115px;
  top: 50px; /* Adjust as needed */
  left: 200px; /* Adjust as needed */
  background-color: lightgray; /* Feel free to customize */
  position: absolute;
}