
body {
  background-image: url(img/inconspicous_background.png);
  background-size: 114%;
}

@font-face {
  font-family: NFPARKLANE;
  src: url(fonts/Park_Lane_NF.ttf)
}

#board {
  width: 440px;
  height: 440px;
  border: 10px solid rgb(240, 255, 72);
  background-color: rgb(221, 255, 143);
  margin: auto;
  text-align: center;
  position: relative; 
}

.ball {
  position: absolute;
}


#ball1 {
  background-image: url(img/black&white.png);
  background-size: 100%;
  width:20px; 
  height:20px;
  border-radius: 10px;
  top: 150px;
  left: 150px;
}


.paddle {
  border-radius: 20px;
  position: absolute;
  width: 20px;
  height: 80px;
}


#paddleLeft {
  background-color: rgb(255, 255, 255);
  top: 0px;
  left: 0px;
}

#paddleRight {
  background-color: rgb(0, 0, 0);
  top: 360px;
  left: 420px;
}

.score {
  width: 50px;
  height: 50px;
  position: absolute;
  font-family: NFPARKLANE;
  font-size: 45px
}

#scoreLeft {
  top: 10px;
  left: 110px;

}

#scoreRight { 
  top: 10px;
  left: 285px;
}
.name {
  position: absolute;
  font-family: NFPARKLANE;
  color: rgb(255, 204, 0);
  font-size: 20px
}

#nameLeft{
  top: 5px;
  left: 0px;
}

#nameRight{
  top: 5px;
  left: 330px;
}

#endingImage{
  display:none;
  border-radius: 10px;
  background-size: 100%;
  background-image: url(img/barking_spider.jpeg);
  position: absolute;
  width: 200px;
  height: 200px;
  top: 120px;
  left: 120px;
}

#playAgain{
  display:none;
  background: transparent;
  border: none;
  color: rgb(255, 204, 0);
  text-align: center;
  font-family: NFPARKLANE;
  font-size: 32px;
  position: absolute;
  cursor: pointer;
  height: 100px;
  width: 200px;
  top: 220px;
  left: 120px;
}


#winnerMessage{
  display:none;
  background: transparent;
  border: none;
  color: rgb(255, 204, 0);
  text-align: center;
  font-family: NFPARKLANE;
  font-size: 32px;
  position: absolute;
  cursor: pointer;
  height: 100px;
  width: 200px;
  top: 220px;
  left: 120px;
}