
body {
  background-image: url(headexplosion.jpg);

}

#board {
  width: 440px;
  height: 440px;
  border: 10px solid rgb(255, 148, 7);
  background-color: black;
}

#score, #highScore {
  color: white;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: rgb(100, 100, 100);
  z-index: 2;
}

#snake-head {
  background-color: rgba(255, 251, 22, 1);
}

.apple {
  background-image: url(dog.jpg);
  z-index: 1;
}